<h1>Reactive: <small> Dinámicos</small></h1>
<hr>

<form
  autocomplete="off"
  [formGroup]="miFormulario"
>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre: </label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de la persona"
        formControlName="nombre"
      >

      <span
        class="form-text text-danger"
        *ngIf="campoEsValido('nombre')"
      >
        Este campo es requerido
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>

    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Agregar favorito"
        [formControl]="nuevoFavorito"
        (keyup.enter)="agregarFavorito()"
      >

      <button
        class="btn btn-outline-primary"
        type="button"
        (click)="agregarFavorito()"
      >
        Agregar
      </button>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-12 col-form-label">Favoritos</label>
    <div
      class="col-sm-12"
      formArrayName="favoritos"
    >
      <div
        class="input-group mb-2"
        *ngFor="let favorito of favoritosArray.controls; let i = index"
      >
        <input
          type="text"
          class="form-control"
          [formControlName]="i"
        >
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="1+1"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary float-end mt-4"
        (click)="guardar()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
